<%= form_for [@post, @comment] do |form| %>

  <div class="field">
    <%= form.text_area :content %>
  </div>
  <%= form.hidden_field :user_id, :value => current_user.id %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

