<div class="container background">
  <div class="row text-primary">
    <h1>Homes#index</h1>
  </div>
  <div class="row">
    <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
    <%= link_to 'Firend Requests', friend_requests_path%>
    <%= link_to 'Friends', friend_ships_path %>
  </div>
</div>

