<div class="container">
  <h2>Friends</h2>
  <ul>
    <% @friends.each do |friend| %>
      <li>
        <%=h friend.first_name %>
        (<%= link_to "unfriend", friend_ship_path(id: friend), :method => :delete %>)
      </li>
    <% end %>
  </ul>
</div>
