<div class="container">
    <h2>Friends</h2>
    <ul>
    <% @friends.each do |friend| %>
      <li>
        <%=h friend.first_name %>
        (<%= link_to "remove", friend_ship_path(id: friend), :method => :delete %>)
      </li>
    <% end %>
    </ul>

  <h2>Friended by Users</h2>
  <ul>
    <% current_user.inverse_friends.each do |user| %>
      <li><%=h user.first_name %></li>
    <% end %>
  </ul>

    <%= link_to 'Back', homes_index_path %>
</div>
